html,
body {
  width: 100%;
}

.meta-container {
  min-width: 100%;
}

.card,
.org-card {
  border-radius: 30px;
  box-shadow: black;
  border-width: 0px;
}

.org-card {
  height: 18vh;
  width: 20rem;
}

.org-card h4 span {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 0 15px 0 15px;
}

@media only screen and (max-width: 992px) {
  .org-card {
    height: 6vh;
    width: 100%;
    min-height: 40px;
  }
}

@media only screen and (min-width: 993px) {
  .meta-container {
    min-width: 100%;
    display: flex;
  }
  .card-container {
    width: 90%;
  }
}
