{% extends 'base.html' %} {% from "macros.html" import card,org_card with
context %} {% block title %} Feed {% endblock title %} {% block head%}
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='cards.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}" />

{% endblock head%} {%block body%}
<!--  -->

<div class="d-lg-flex flex-grow-0">
  <div
    class="card-profile mt-3 ms-4 me-3 shadow"
    style="width: 25rem; max-width: 85%; height: 80%"
  >
    <img
      src="{{url_for('static', filename='images/monkey.png')}}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Amogh</h5>
      <p class="card-text">Maker, Creator.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      Instagram:
      <a href="https://instagram.com/amg.init" class="card-link">@amg.init</a>
    </div>
  </div>

  <div class="card-container d-flex flex-column mt-2 mx-4">
    <div class="single-task">
      {{card(single_card.title, single_card.organization_id,
      single_card.description, single_card.end_date, single_card.id,
      single_card.complete, single_card.user.user_name, single_card.user_id)}}
    </div>
    <h3 class="pt-3 ps-2">Comments:</h3>
    <div class="comments-container">
      {% for i in comments %}
      <div class="comment shadow m-2 my-3" style="border-radius: 20px">
        <div class="comment-user p-2 ps-4">
          <a href="/profile/{{i.user.user_name}}">@{{i.user.user_name}}</a> |
          {{i.date_created.strftime('%d-%m-%Y')}}
        </div>
        <div class="comment-description px-2 pb-3 ps-4">{{i.description}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!--  -->
{%endblock%}
