{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block
head%}
<link rel="stylesheet" href="static/welcome.css" />

{% endblock head%} {%block body%}
<div class="d-flex flex-column justify-content-center w-100 h-100">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="fw-light text-white m-0">Hello!</h1>
    <br />
    <h2 class="fw-light text-white m-0">Join the wait-list!</h2>
    <br />
    <form action="/" method="POST">
      <div class="mb-3">
        <div
          class="
            input-group
            mb-3
            col
            animate__animated animate__pulse animate__repeat-2
          "
        >
          <input
            type="email"
            class="form-control"
            placeholder="Email ID"
            aria-label="Recipient's email"
            aria-describedby="button-addon2"
            name="email"
          />
          <button class="btn btn-primary" type="submit" id="button-addon2">
            Sign Up
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/static/index.js" charset="utf-8"></script>

{%endblock%}
