{% extends 'base.html' %} {% from "macros.html" import card,org_card with
context %}{% block title %} Feed {% endblock title %} {% block head%}
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='cards.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}" />

{% endblock head%} {%block body%}
<div class="d-lg-flex flex-grow-0">
  <div
    class="card-profile mt-3 ms-4 me-3 shadow"
    style="width: 25rem; max-width: 85%; height: 80%"
  >
    <img
      src="../static/images/profile_pic/{{profile.profile_picture}}.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Amogh</h5>
      <p class="card-text">Maker, Creator.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      Instagram:
      <a href="https://instagram.com/amg.init" class="card-link">@amg.init</a>
    </div>
  </div>

  <div class="card-container d-flex flex-column mt-2 mx-4">
    <div class="pending-tasks">
      <h3></h3>
      {% for i in cards %} {{card(i.title, i.organization_id, i.description,
      i.end_date, i.id, i.complete, i.user.user_name, i.user_id)}} {% endfor %}
    </div>
    <div class="completed-tasks">
      <h3 class="pt-5 completed-card">Completed:</h3>
      {% for i in completed_cards %} {{card(i.title, i.organization_id,
      i.description, i.end_date, i.id, i.complete, i.user.user_name,
      i.user_id)}} {% endfor %}
    </div>
  </div>
</div>
{%endblock%}
